@{
    ViewBag.Title = "Otros";
}

<h2>Otros</h2>
                <table class="letras">
                    <tr class="a">
                        <td>@Html.ActionLink("Mostrar Empleados", "Mostrar", "Empleado")</td>
                        <td>@Html.ActionLink("Registrar Servivios", "Registrar", "Servicio")</td>
                        <td>@Html.ActionLink("Registrar Habitacion", "Registrar", "Habitacion")</td>
                        <td>@Html.ActionLink("Registrar Administrador", "RegistrarAdmin", "Administrador")</td>
                        <td>@Html.ActionLink("Ver Administrador", "Mostrar", "Administrador")</td>                                   
                    </tr>
                </table>